<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC8IREuAP8xWYieDy144SXVYrUf5W1WOo</string>
	<key>GCM_SENDER_ID</key>
	<string>125932196120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urielcast.memome</string>
	<key>PROJECT_ID</key>
	<string>memome-28bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>memome-28bfe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125932196120:ios:77ed478965748b6b8c0e6d</string>
</dict>
</plist>